apiVersion: v1
kind: Service
metadata:
  name: alertmanager-headless
  namespace: alertmanager
  labels:
    app: alertmanager
spec:
  ports:
  - name: http-web
    port: 9093
    protocol: TCP
    targetPort: 9093
  - name: tcp-mesh
    port: 9094
    protocol: TCP
    targetPort: 9094
  - name: udp-mesh
    port: 9094
    protocol: UDP
    targetPort: 9094
  clusterIP: None
  selector:
    app: alertmanager