apiVersion: v1
kind: Service
metadata:
  name: alertmanager-service
  namespace: alertmanager
  labels:
    app: alertmanager
spec:
  type: ClusterIP
  ports:
  - port: 9093
    targetPort: 9093
    name: web
  selector:
    app: alertmanager